<div class="article-metadata">
  {{ if $.Params.authors }}
    {{ $authorLen := len $.Params.authors }}
    <div>
      {{ range $k, $v := $.Params.authors -}}
        <span itemscope itemprop="author" itemtype="http://schema.org/Person">
          <span itemprop="name">{{- $v | markdownify -}}</span>
        </span>
        {{- if lt $k (sub $authorLen 1) -}}, {{ end }}
      {{ end }}
    </div>
  {{ else }}
    <span itemscope itemprop="author" itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{ $.Site.Params.name }}">
    </span>
  {{ end }}

  <span class="article-date">
    {{/* Check if Lastmod is set and different from Date */}}
    {{ if $.Params.Lastmod }}
      {{ if ne $.Params.Lastmod $.Params.Date }}
        {{ i18n "last_updated" }} on {{ $.Params.Lastmod | date $.Site.Params.date_format }}
      {{ end }}
    {{ else }}
      <meta content="{{ $.Params.Date }}" itemprop="datePublished">
      <time datetime="{{ $.Params.Date }}" itemprop="datePublished">
        {{ $.Date.Format $.Site.Params.date_format }}
      </time>
    {{ end }}
  </span>

  <span itemscope itemprop="publisher" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ $.Site.Params.name }}">
  </span>

  <span class="middot-divider"></span>

  {{ with $.Site.Params.twitter }} 
    <span class="article-date">
      <i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ . }}" target="_blank">@{{ . }}</a>
    </span>
  {{ end }}

  {{ if $.File.Path }}
    {{ $Rmd := (print $.File.BaseFileName ".Rmd") }}
    {{ if (where (readDir (print "content/" $.File.Dir)) "Name" $Rmd) }}
      {{ $.Scratch.Set "FilePath" (print $.File.Dir $Rmd) }}
    {{ else }}
      {{ $.Scratch.Set "FilePath" $.File.Path }}
    {{ end }}
    
    <span class="middot-divider"></span>
    {{ with $.Site.Params.GithubSource }} 
      <span class="article-date">
        <i class="fab fa-github"></i>
        <a href="{{ . }}{{ $.Scratch.Get "FilePath" }}" target="_blank">View source</a>
      </span>
    {{ end }}
  {{ end }}

  {{ if and (eq $.Type "post") (not (or (eq $.Site.Params.reading_time false) (eq $.Params.reading_time false))) }}
    <span class="middot-divider"></span>
    <span class="article-reading-time">
      {{ $.ReadingTime }} {{ i18n "minute_read" }}
    </span>
  {{ end }}

  {{ $comments_enabled := and $.Site.DisqusShortname (not (or $.Site.Params.disable_comments (eq $.Params.comments false))) }}
  {{ if and $comments_enabled ($.Site.Params.comment_count | default true) }}
    <span class="middot-divider"></span>
    <a href="{{ $.RelPermalink }}#disqus_thread"><!-- Count will be inserted here --></a>
  {{ end}}

  {{ if $.Params.categories }}
    {{ $categoriesLen := len $.Params.categories }}
    {{ if gt $categoriesLen 0 }}
      <span class="middot-divider"></span>
      <span class="article-categories">
        <i class="fas fa-folder"></i>
        {{ range $k, $v := $.Params.categories }}
          <a href="{{ ($.Site.GetPage (printf "categories/%s" .)).RelPermalink }}">{{ . }}</a>
          {{- if lt $k (sub $categoriesLen 1) -}}, {{ end }}
        {{ end }}
      </span>
    {{ end }}
  {{ end }}

  {{ if ne .IsList 1 }}
    {{ partial "share.html" . }} 
  {{ end }}
</div>
