<div class="article-metadata">
  {{ if $.Params.authors }}
    {{ $authorLen := len $.Params.authors }}
    <div>
      {{ range $k, $v := $.Params.authors -}}
        <span itemscope itemprop="author" itemtype=http://schema.org/Person>
          <span itemprop="name">{{- $v | markdownify -}}</span>
        </span>
        {{- if lt $k (sub $authorLen 1) -}}, {{ end }}
      {{ end }}
    </div>
  {{ else }}
    <span itemscope itemprop="author" itemtype=http://schema.org/Person>
      <meta itemprop="name" content="{{ $.Site.Params.name }}">
    </span>
  {{ end }}

  <span class="article-date">
    {{ if ne $.Params.Lastmod $.Params.Date }}
      {{ i18n "last_updated" }} on {{ $.Date.Format $.Site.Params.date_format }}
    {{ end }}
    <meta content="{{ $.Params.Date }}" itemprop="datePublished">
    <time datetime="{{ $.Params.Date }}" itemprop="datePublished">
      {{ $.Date.Format $.Site.Params.date_format }}
    </time>
  </span>

  <span itemscope itemprop="publisher" itemtype=http://schema.org/Person>
    <meta itemprop="name" content="{{ $.Site.Params.name }}">
  </span>

  <span class="middot-divider"></span>

  {{ with $.Site.Params.twitter }} 
    <span class="article-date">
      <i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ . }}" target="_blank">@{{ . }}</a>
    </span>
  {{ end }}

  {{ if $.File.Path }}
    {{ $Rmd := (print $.File.BaseFileName ".Rmd") }}
    {{ if (where (readDir (print "content/" $.File.Dir)) "Name" $Rmd) }}
      {{ $.Scratch.Set "FilePath" (print $.File.Dir $Rmd) }}
    {{ else }}
      {{ $.Scratch.Set "FilePath" $.File.Path }}
    {{ end 
